@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype"),
    url("/assets/fonts/Poppins-Medium.ttf") format("truetype"),
    url("/assets/fonts/Poppins-SemiBold.ttf") format("truetype"),
    url("/assets/fonts/Poppins-Bold.ttf") format("truetype"),
    url("/assets/fonts/Poppins-Black.ttf") format("truetype");
}

body {
  font-family: "Poppins", sans-serif;
  @apply bg-slate-900 text-gray-50;
}

input {
  @apply bg-slate-800 outline-none ring-2 ring-slate-800 focus:ring-violet-500;
}

hr {
  @apply border-gray-800;
}
